@import "reset";

$sm: 576px;
$med: 768px;
$lg: 992px;
$xl: 1200px;

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	min-width: $sm;
}

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(12, 1fr);
	max-width: 100%;
	@media (min-width: $sm) {
		.container-sm {
		}
	}
	@media (min-width: $med) {
		.container-md {
		}
	}
	@media (min-width: $lg) {
		.container-lg {
		}
	}
	@media (min-width: $xl) {
		.container-xl {
		}
	}
}

.w-100 {
	width: 100%;
}

// Grid width
.full-width {
	grid-column: 1 / -1;
}

.narrow-width {
	grid-column: 2 / -2;
}

.very-narrow-width {
	grid-column: 4 / -4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5,
p {
	font-size: 1em;
}

h6 {
	font-size: 0.8em;
}

p {
	line-height: 1.2em;
}

.text-align-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-around {
	justify-content: space-around;
}

.justify-content-center {
	justify-content: center;
}
.justify-content-baseline {
	justify-content: baseline;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-center {
	align-items: center;
}
